| Bonjour #{userName},
|
| Merci d'avoir choisi SuperVitre pour votre service de vitrerie ! Votre réservation a bien été enregistrée.
|
| Voici les détails de votre réservation :
|
| Numéro de réservation : #{bookingReference}
| Service : #{serviceType}
| Date : #{selectedDate}
| Heure : #{selectedTime}
| Addresse: #{bookingAddress}
| Téléphone: #{phone}
|
| Nous vous contacterons bientôt si des informations supplémentaires sont nécessaires ou pour confirmer tout détail spécifique.
|
| Si vous avez des questions ou si vous souhaitez modifier votre réservation, n'hésitez pas à nous contacter à support@supervitre.net.
|
| Cordialement,
| L'équipe SuperVitre
|
| ---
| SuperVitre
| support@supervitre.net