doctype html
html(xmlns="http://www.w3.org/1999/xhtml", xmlns:v="urn:schemas-microsoft-com:vml", xmlns:o="urn:schemas-microsoft-com:office:office", lang="en")
  head
    title Confirmation de réservation
    meta(charset="UTF-8")
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    //if !mso
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="x-apple-disable-message-reformatting", content="")
    meta(content="target-densitydpi=device-dpi", name="viewport")
    meta(content="true", name="HandheldFriendly")
    meta(content="width=device-width", name="viewport")
    meta(name="format-detection", content="telephone=no, date=no, address=no, email=no, url=no")
    style(type="text/css").
      table {
      border-collapse: separate;
      table-layout: fixed;
      mso-table-lspace: 0pt;
      mso-table-rspace: 0pt
      }
      table td {
      border-collapse: collapse
      }
      .ExternalClass {
      width: 100%
      }
      .ExternalClass,
      .ExternalClass p,
      .ExternalClass span,
      .ExternalClass font,
      .ExternalClass td,
      .ExternalClass div {
      line-height: 100%
      }
      body, a, li, p, h1, h2, h3 {
      -ms-text-size-adjust: 100%;
      -webkit-text-size-adjust: 100%;
      }
      html {
      -webkit-text-size-adjust: none !important
      }
      body, #innerTable {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale
      }
      #innerTable img+div {
      display: none;
      display: none !important
      }
      img {
      Margin: 0;
      padding: 0;
      -ms-interpolation-mode: bicubic
      }
      h1, h2, h3, p, a {
      line-height: inherit;
      overflow-wrap: normal;
      white-space: normal;
      word-break: break-word
      }
      a {
      text-decoration: none
      }
      h1, h2, h3, p {
      min-width: 100%!important;
      width: 100%!important;
      max-width: 100%!important;
      display: inline-block!important;
      border: 0;
      padding: 0;
      margin: 0
      }
      a[x-apple-data-detectors] {
      color: inherit !important;
      text-decoration: none !important;
      font-size: inherit !important;
      font-family: inherit !important;
      font-weight: inherit !important;
      line-height: inherit !important
      }
      u + #body a {
      color: inherit;
      text-decoration: none;
      font-size: inherit;
      font-family: inherit;
      font-weight: inherit;
      line-height: inherit;
      }
      a[href^="mailto"],
      a[href^="tel"],
      a[href^="sms"] {
      color: inherit;
      text-decoration: none
      }
    style(type="text/css").
      @media (min-width: 481px) {
      .hd { display: none!important }
      }
    style(type="text/css").
      @media (max-width: 480px) {
      .hm { display: none!important }
      }
    style(type="text/css").
      @media (max-width: 480px) {
      .t62{mso-line-height-alt:0px!important;line-height:0!important;display:none!important}.t63{padding-left:30px!important;padding-bottom:40px!important;padding-right:30px!important}.t6{padding-bottom:20px!important}.t5{line-height:28px!important;font-size:26px!important;letter-spacing:-1.04px!important}.t67{padding:40px 30px!important}.t1{padding-bottom:50px!important}.t3{width:80px!important}
      }
    //if !mso
      link(href="https://fonts.googleapis.com/css2?family=Albert+Sans:wght@400&display=swap", rel="stylesheet", type="text/css")
    //if mso
      xml
        o:OfficeDocumentSettings
          o:AllowPNG
          o:PixelsPerInch 96
  body#body.t73(style="min-width:100%;Margin:0px;padding:0px;background-color:#242424;")
    div.t72(style="background-color:#242424;")
      table(role="presentation", width="100%", cellpadding="0", cellspacing="0", border="0", align="center")
        tr
          td.t71(style="font-size:0;line-height:0;mso-line-height-rule:exactly;background-color:#242424;", valign="top", align="center")
            //if mso
              v:background(xmlns:v="urn:schemas-microsoft-com:vml", fill="true", stroke="false")
                v:fill(color="#242424")
            table#innerTable(role="presentation", width="100%", cellpadding="0", cellspacing="0", border="0", align="center")
              tr
                td
                  div.t62(style="mso-line-height-rule:exactly;mso-line-height-alt:45px;line-height:45px;font-size:1px;display:block;") &nbsp;&nbsp;
              tr
                td(align="center")
                  table.t66(role="presentation", cellpadding="0", cellspacing="0", style="Margin-left:auto;Margin-right:auto;")
                    tr
                      td.t65(width="600", style="width:600px;")
                        table.t64(role="presentation", cellpadding="0", cellspacing="0", width="100%", style="width:100%;")
                          tr
                            td.t63(style="background-color:#F8F8F8;padding:0 50px 60px 50px;")
                              table(role="presentation", width="100%", cellpadding="0", cellspacing="0", style="width:100% !important;")
                                tr
                                  td(align="left")
                                    table.t4(role="presentation", cellpadding="0", cellspacing="0", style="Margin-right:auto;")
                                      tr
                                        td.t3(width="130", style="width:130px;")
                                          table.t2(role="presentation", cellpadding="0", cellspacing="0", width="100%", style="width:100%;")
                                            tr
                                              td.t1(style="padding:0 0 60px 0;")
                                                div(style="font-size:0px;")
                                                  img.t0(style="display:block;border:0;height:auto;width:100%;Margin:0;max-width:100%;", width="130", height="130", alt="", src="https://firebasestorage.googleapis.com/v0/b/supervitre-assets/o/logo.JPEG?alt=media&token=0be96cfc-6000-4e07-823c-1336bdd06937")
                                tr
                                  td(align="center")
                                    table.t9(role="presentation", cellpadding="0", cellspacing="0", style="Margin-left:auto;Margin-right:auto;")
                                      tr
                                        td.t8(width="500", style="width:600px;")
                                          table.t7(role="presentation", cellpadding="0", cellspacing="0", width="100%", style="width:100%;")
                                            tr
                                              td.t6(style="padding:0 0 15px 0;")
                                                h1.t5(style="margin:0;Margin:0;font-family:Albert Sans,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif;line-height:26px;font-weight:400;font-style:normal;font-size:24px;text-decoration:none;text-transform:none;direction:ltr;color:#333333;text-align:left;mso-line-height-rule:exactly;mso-text-raise:1px;") #{userName}, merci pour votre réservation.
                                tr
                                  td(align="center")
                                    table.t14(role="presentation", cellpadding="0", cellspacing="0", style="Margin-left:auto;Margin-right:auto;")
                                      tr
                                        td.t13(width="500", style="width:600px;")
                                          table.t12(role="presentation", cellpadding="0", cellspacing="0", width="100%", style="width:100%;")
                                            tr
                                              td.t11(style="padding:0 0 22px 0;")
                                                p.t10(style="margin:0;Margin:0;font-family:Albert Sans,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif;line-height:22px;font-weight:400;font-style:normal;font-size:16px;text-decoration:none;text-transform:none;direction:ltr;color:#333333;text-align:left;mso-line-height-rule:exactly;mso-text-raise:2px;") Votre réservation #{serviceType} pour #{selectedDate} à #{selectedTime} est confirmée.
                                tr
                                  td(align="center")
                                    table.t19(role="presentation", cellpadding="0", cellspacing="0", style="Margin-left:auto;Margin-right:auto;")
                                      tr
                                        td.t18(width="500", style="width:600px;")
                                          table.t17(role="presentation", cellpadding="0", cellspacing="0", width="100%", style="width:100%;")
                                            tr
                                              td.t16
                                                p.t15(style="margin:0;Margin:0;font-family:Albert Sans,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif;line-height:22px;font-weight:bold;font-style:normal;font-size:16px;text-decoration:none;text-transform:none;direction:ltr;color:#333333;text-align:left;mso-line-height-rule:exactly;mso-text-raise:2px;") Numéro de référence
                                tr
                                  td(align="center")
                                    table.t24(role="presentation", cellpadding="0", cellspacing="0", style="Margin-left:auto;Margin-right:auto;")
                                      tr
                                        td.t23(width="500", style="width:600px;") 
                                          table.t22(role="presentation", cellpadding="0", cellspacing="0", width="100%", style="width:100%;")
                                            tr
                                              td.t21(style="padding:0 0 22px 0;")
                                                p.t20(style="margin:0;Margin:0;font-family:Albert Sans,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif;line-height:22px;font-weight:400;font-style:normal;font-size:16px;text-decoration:none;text-transform:none;direction:ltr;color:#333333;text-align:left;mso-line-height-rule:exactly;mso-text-raise:2px;") #{bookingReference}
                                tr
                                  td(align="center")
                                    table.t29(role="presentation", cellpadding="0", cellspacing="0", style="Margin-left:auto;Margin-right:auto;")
                                      tr
                                        td.t28(width="500", style="width:600px;") 
                                          table.t27(role="presentation", cellpadding="0", cellspacing="0", width="100%", style="width:100%;")
                                            tr
                                              td.t26
                                                p.t25(style="margin:0;Margin:0;font-family:Albert Sans,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif;line-height:22px;font-weight:bold;font-style:normal;font-size:16px;text-decoration:none;text-transform:none;direction:ltr;color:#333333;text-align:left;mso-line-height-rule:exactly;mso-text-raise:2px;") Type de Service
                                tr
                                  td(align="center")
                                    table.t34(role="presentation", cellpadding="0", cellspacing="0", style="Margin-left:auto;Margin-right:auto;")
                                      tr
                                        td.t33(width="500", style="width:600px;") 
                                          table.t32(role="presentation", cellpadding="0", cellspacing="0", width="100%", style="width:100%;")
                                            tr
                                              td.t31(style="padding:0 0 22px 0;")
                                                p.t30(style="margin:0;Margin:0;font-family:Albert Sans,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif;line-height:22px;font-weight:400;font-style:normal;font-size:16px;text-decoration:none;text-transform:none;direction:ltr;color:#333333;text-align:left;mso-line-height-rule:exactly;mso-text-raise:2px;") #{serviceType}
                                tr
                                  td(align="center")
                                    table.t39(role="presentation", cellpadding="0", cellspacing="0", style="Margin-left:auto;Margin-right:auto;")
                                      tr
                                        td.t38(width="500", style="width:600px;") 
                                          table.t37(role="presentation", cellpadding="0", cellspacing="0", width="100%", style="width:100%;")
                                            tr
                                              td.t36
                                                p.t35(style="margin:0;Margin:0;font-family:Albert Sans,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif;line-height:22px;font-weight:bold;font-style:normal;font-size:16px;text-decoration:none;text-transform:none;direction:ltr;color:#333333;text-align:left;mso-line-height-rule:exactly;mso-text-raise:2px;") Date
                                tr
                                  td(align="center")
                                    table.t44(role="presentation", cellpadding="0", cellspacing="0", style="Margin-left:auto;Margin-right:auto;")
                                      tr
                                        td.t43(width="500", style="width:600px;") 
                                          table.t42(role="presentation", cellpadding="0", cellspacing="0", width="100%", style="width:100%;")
                                            tr
                                              td.t41
                                                p.t40(style="margin:0;Margin:0;font-family:Albert Sans,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif;line-height:22px;font-weight:400;font-style:normal;font-size:16px;text-decoration:none;text-transform:none;direction:ltr;color:#333333;text-align:left;mso-line-height-rule:exactly;mso-text-raise:2px;") #{selectedDate} à #{selectedTime}
                                tr
                                  td(align="center")
                                    table.t49(role="presentation", cellpadding="0", cellspacing="0", style="Margin-left:auto;Margin-right:auto;")
                                      tr
                                        td.t48(width="500", style="width:600px;") 
                                          table.t47(role="presentation", cellpadding="0", cellspacing="0", width="100%", style="width:100%;")
                                            tr
                                              td.t46
                                                p.t45(style="margin:0;Margin:0;font-family:Albert Sans,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif;line-height:22px;font-weight:400;font-style:normal;font-size:16px;text-decoration:none;text-transform:none;direction:ltr;color:#333333;text-align:left;mso-line-height-rule:exactly;mso-text-raise:2px;") Addresse: #{bookingAddress}
                                tr
                                  td(align="center")
                                    table.t54(role="presentation", cellpadding="0", cellspacing="0", style="Margin-left:auto;Margin-right:auto;")
                                      tr
                                        td.t53(width="500", style="width:600px;") 
                                          table.t52(role="presentation", cellpadding="0", cellspacing="0", width="100%", style="width:100%;")
                                            tr
                                              td.t51
                                                p.t50(style="margin:0;Margin:0;font-family:Albert Sans,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif;line-height:22px;font-weight:400;font-style:normal;font-size:16px;text-decoration:none;text-transform:none;direction:ltr;color:#333333;text-align:left;mso-line-height-rule:exactly;mso-text-raise:2px;") Téléphone: #{phone}
                                tr
                                  td
                                    div.t55(style="mso-line-height-rule:exactly;mso-line-height-alt:30px;line-height:30px;font-size:1px;display:block;") &nbsp;&nbsp;
                                tr
                                  td(align="center")
                                    table.t60(role="presentation", cellpadding="0", cellspacing="0", style="Margin-left:auto;Margin-right:auto;")
                                      tr
                                        td.t59(width="500", style="width:600px;") 
                                          table.t58(role="presentation", cellpadding="0", cellspacing="0", width="100%", style="width:100%;")
                                            tr
                                              td.t57
                                                p.t56(style="margin:0;Margin:0;font-family:Albert Sans,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif;line-height:22px;font-weight:400;font-style:normal;font-size:16px;text-decoration:none;text-transform:none;direction:ltr;color:#333333;text-align:left;mso-line-height-rule:exactly;mso-text-raise:2px;") Si vous avez des questions, contactez nous à support@supervitre.net
                                tr
                                  td
                                    div.t61(style="mso-line-height-rule:exactly;mso-line-height-alt:40px;line-height:40px;font-size:1px;display:block;") &nbsp;&nbsp;
              tr
                td(align="center")
                  table.t70(role="presentation", cellpadding="0", cellspacing="0", style="Margin-left:auto;Margin-right:auto;")
                    tr
                      td.t69(width="600", style="width:600px;")
                        table.t68(role="presentation", cellpadding="0", cellspacing="0", width="100%", style="width:100%;")
                          tr
                            td.t67(style="background-color:#242424;padding:0 50px 0 50px;")
                              table(role="presentation", width="100%", cellpadding="0", cellspacing="0", style="width:100% !important;")
                                // Footer content can be added here if needed
    div.gmail-fix(style="display: none; white-space: nowrap; font: 15px courier; line-height: 0;") &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;