| Hello #{userName},
|
| Thank you for choosing SuperVitre for your glass services! Your reservation has been successfully recorded.
|
| Here are the details of your reservation:
|
| Reservation Number: #{bookingReference}
| Service: #{serviceType}
| Date: #{selectedDate}
| Time: #{selectedTime}
| Address: #{bookingAddress}
| Phone: #{phone}
|
| We will contact you soon if any additional information is needed or to confirm any specific details.
|
| If you have any questions or wish to modify your reservation, please do not hesitate to contact us at support@supervitre.net.
|
| Sincerely,
| The SuperVitre Team
|
| ---
| SuperVitre
| support@supervitre.net